/* Global styles */
body {
    font-family: 'Arial', sans-serif;
}

/* Styles for the WhosAttending component */
.WhosAttending {
    text-align: center;
    margin: 20px;
}

h1 {
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    font-family: "Snell Roundhand";
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid gray;
    padding: 10px;
}

/* Apply specific styles to the "Name" column */
table td:first-child {
    font-weight: bold;
    color: blue;
}


